/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  background-image: 
  repeating-linear-gradient(90deg, var(--background-gradient-color) 0 2px, transparent 2px 4px),
  repeating-linear-gradient(var(--background-gradient-color) 0 2px, transparent 2px 4px),
  repeating-linear-gradient(var(--linear-gradient-from) 0.01%, var(--linear-gradient-to) 99.9%);
  background-position: center center;
  background-attachment: fixed; 
  background-size: cover;
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--acсent-color);
  font-size: var(--font-size);
  line-height: var(--line-height-main-text);
  font-variation-settings: 'wght' var(--font-weight-main-text);
 
}

.button-stile {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--acсent-color);
  font-family: var(--acсent-font);
  font-weight: var(--font-weight-main-text);
  line-height: 12.6px;
  font-size: 14px;
  cursor: pointer; 
  position: relative;
  outline: none;
}

.button-stile::after{
  content: '';
  display: block;
  background-color: var(--acсent-color);
  width: 0px;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: width 0.5s ease-in-out;
}

.button-stile:focus {
  outline: none;
}

.button-stile:focus-visible{
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--acсent-color);
  transition: 0.3s ease;
}

.button-stile:hover::after{
  width: 100%;
}

.width-long {
  width: var(--width);
}

.header {
  background-color: var(--background-color);
  border: 2px solid var(--acсent-color);
  font-family: var(--acсent-font);
  color: var(--acсent-color) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 120px 50px 120px;
}

.header-logo {
  font-size: var(--header-font-size);
  font-family: var(--acсent-font);
  color: var(--acсent-color);
  margin: 136px 120px 20px 120px;
  text-decoration: none;
  line-height: 65px;
}

.header-title {
  font-family: var(--acсent-font);
  font-size: var(--section-title-font-size);
  line-height: 23px;
  margin-block-end: 24px;
  font-weight: var(--font-weight-main-text);
  text-transform: uppercase;
 }

 .theme-menu__button::after {
  content: '';
  display:block;
  border-bottom: 2px solid var(--activ-menu-color);
  width: 0;
  transition: 0.5s;
 }
 
 .theme-menu__button:focus-visible::after {
  width: 100%;
 }

 .theme-menu__button:disabled::before {
  content: '▶';
  color: var(--activ-menu-color);
  position: absolute;
  right: 96px;
  animation: hesitation 0.5s ease-in-out alternate infinite;
  will-change: right;
}


.theme-menu__button:disabled {
  color: var(--activ-menu-color);
}

.theme-menu__list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  line-height: 14px;
  
}

.theme-menu {
  margin-left: 16px;
  margin-bottom: 22px;
}

.theme-menu__button {
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--acсent-color);
  transition: color 0.3s ease;
  margin-left: 5px;
}

.theme-menu__button:hover{
  color: var(--activ-menu-color);
}

.theme-menu__item {
  position: relative;
}

.section-stile {
  background-color: var(--background-color);
  border: 2px solid var(--acсent-color);
  position: relative;
   
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.main-content .section-stile {
  margin-top: 52px;
}

.lable-block {
  position: relative;
  }

.card-lable {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 25px;
  font-family: var(--acсent-font);
  font-weight:  var(--font-weight-main-text);
  font-size: 14px;
  line-height: 14px;
  color: var(--activ-menu-color);
  text-shadow: 0 0 1px var(--lable-text-shadow);
  mix-blend-mode: hard-light;
} 

@supports ((text-stroke: 1px var(--lable-text-shadow)) or (-webkit-text-stroke: 1px var(--lable-text-shadow))) {
.card-lable {
  -webkit-text-stroke: 1px var(--lable-text-shadow);
  text-shadow: none;
  mix-blend-mode: hard-light;
  }
}
  
.section-title {
  line-height: 21.7px;
  font-size: 18px;  
  font-variation-settings: 'wght' var(--font-weight-header);
  padding: 5px 9px;
}

.section_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  border: var(--image-border);
}

.section_article {
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 21px;
  font-size: var(--font-size);
  font-family: var(--main-font);
  margin: 27px 26px 26px 26px;  
}


.button-block {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  margin-right: 26px;
  margin-bottom: 25px;
}

.card__like-button {
  min-height: 38px;
  min-width: 130px;
    
}

.button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--acсent-font);
  line-height: 12px;
  font-size: 14px;  
  font-weight: var(--font-weight-main-text);
  z-index: 2;
  gap: 8px;
  color: var(--blend-color);
  mix-blend-mode: difference;   
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  padding: 0;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
 outline: 2px solid var(--acсent-color);
 outline-offset: -1px;
 
}

.like-icon .heart .core {
  fill: transparent;
  transition: fill 0.3s 0.05s linear;
}

.like-icon .heart .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .heart .core {
  fill: var(--acсent-color); 
  transition: fill 0.3s  linear;
}

.like-icon:hover .heart .main-body {
  fill: var(--acсent-color); 
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .heart .core {
  fill: red; 
  transition: fill 0.3s  linear;
}

.like-icon:active .heart .main-body {
  fill: red; 
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart .core {
  fill: red; 
  transition: fill 0.3s  linear;
}

.like-icon.is-liked .heart .main-body {
  fill: red; 
  transition: fill 0.3s 0.05s linear;
  
}

.like-icon.is-liked .heart .contour {
  fill: red; 
  transition: fill 0.3s 0.06s linear;
 
}

.like-icon.is-liked .heart  {
  animation: scale 0.3s 0.1s ease-in alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
   animation: sparks 0.3s 0.3s ease-in alternate; 
   
}

.like-icon.heart .contour {
  fill: var(--acсent-color); 
  transition: fill 0.1s linear; 
}

.sparks {
  fill: transparent;   
}
 
.floppy-button {
  min-height: 50px;
  min-width: 340px;
  margin-top: 52px;
  margin-bottom: 103px;
  padding: 16px 16px;
 }

.floppy-icon {
  height: 21px;
  width: 21px; 
}

.floppy-icon__dialog{
  height: 39px;
  width: 39px;
  color: var(--blend-color);
  mix-blend-mode: difference;
}

dialog {
  position: fixed;
  inset: 0;
  display: flex;
  border: 2px solid var(--acсent-color);
  transition: opacity 0.3s ease-in-out;
  min-inline-size: 353px;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 0;
  
}

.block-dialog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  
}

.dialog-title {
  font-family: var(--acсent-font);
  line-height: 21px;
  font-size: 14px;
  font-weight: var(--font-weight-main-text);
  text-transform: uppercase;
  max-inline-size: 230px;
  color: var(--acсent-color);
 
}

.dialog-button {
   min-inline-size: 293px;
  padding: 12px 12px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.dialog-button::after {
  content: '';
  display: block;
  background-color: var(--acсent-color);
  width: 0px;
  height: 36px;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: width 0.5s ease-in-out;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog {
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  inset: 0;
} 

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
 
} 

.contrast {
  filter:contrast(80%);
}

.brightness {
  filter:  brightness(50%);
}

.blur {
  filter: blur(0.8rem);
}

.opacity {
  filter: opacity(0.9);
}

.grayscale {
  filter: grayscale(0.2);
}

.saturate {
  filter: saturate(50%);
}

.sepia {
  filter: sepia(90%);
}

.multifilter {
  filter: contrast(80%) contrast(2) brightness(100%);
}


@media (width <= 376px) {

  .page {
    width: 100vw;

  }
  .header {
    margin-bottom: 48px;
  }

  .header-logo {
    margin: 120px 14px 20px 14px;
    line-height: 49px;
   
  }
    

  .header-title {
    line-height: 14px;
  }

  .theme-menu {
    margin-left: 22px;
  }

  .card-lable {
    right: 11px;
  }
  .section_article {
    margin-top: 28px;
  }
  
  .floppy-button{
    min-width: 308px;

  }

  .floppy-button .button__text {
    flex-direction: column;
    gap: 8px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .width-long {
    width: 100vw;
  }

 
}